# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tcnfznjuzwmgkwbbyzvq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjbmZ6bmp1endtZ2t3YmJ5enZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NzQ2MjQsImV4cCI6MjA5MjE1MDYyNH0.TAMF4y-IvqW1yzBo6h1CCmguaNTrKHihlF2BR_UY4qM
SUPABASE_SERVICE_ROLE_KEY=

# PayOS
PAYOS_CLIENT_ID=947b7765-f48d-4b81-aa10-d3f40ba1209a
PAYOS_API_KEY=17dd7ae9-dfdb-47e2-9ba4-41449420dbe0
PAYOS_CHECKSUM_KEY=11d81a4513660cdbdfb219d9d1c724effb2b98d80337f0949d50acb12790b0e2


# VNPay (optional)
VNPAY_TMN_CODE=your_tmn_code
VNPAY_HASH_SECRET=your_hash_secret
VNPAY_RETURN_URL=http://localhost:3000/success

# Resend (Email)
RESEND_API_KEY=your_resend_api_key

# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
